.page{
  &--container{
    margin-top: 8%;
    display: flex;
    justify-content: space-evenly;

    &__item{
      max-width: 400px;

      &-clickable{
        cursor: pointer;
      }
    }
  }
}
