<div class="page--container">

  <div class="page--container__item">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Player 1</mat-card-title>
      </mat-card-header>

      <mat-card-content [ngSwitch]="mode">
        <app-person-preview *ngSwitchCase="gameMode.People" [person]="playerOnePick"></app-person-preview>
        <app-starship-preview *ngSwitchCase="gameMode.Starships" [starship]="playerOnePick"></app-starship-preview>
      </mat-card-content>

      <mat-card-actions>
        <button
          mat-raised-button color="primary"
          [ngSwitch]="mode"
          [disabled]="isPlayerOnePickDisabled"
          (click)="playerOneDraw.emit()">
          <span *ngSwitchCase="gameMode.People">Draw a character!</span>
          <span *ngSwitchCase="gameMode.Starships">Draw a starship!</span>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="page--container__item">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h2>
            Results:
          </h2>
          <h1>
            {{ result }}
          </h1>
        </mat-card-title>
      </mat-card-header>

      <mat-card-actions>
        <button mat-raised-button color="primary" [disabled]="isResetGameDisabled" (click)="reset.emit()">Play again!
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="page--container__item">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Player 2</mat-card-title>
      </mat-card-header>

      <mat-card-content [ngSwitch]="mode">
        <app-person-preview *ngSwitchCase="gameMode.People" [person]="playerTwoPick"></app-person-preview>
        <app-starship-preview *ngSwitchCase="gameMode.Starships" [starship]="playerTwoPick"></app-starship-preview>
      </mat-card-content>

      <mat-card-actions >
        <button
          mat-raised-button color="primary"
          [ngSwitch]="mode"
          [disabled]="isPlayerTwoPickDisabled"
          (click)="playerTwoDraw.emit()">
          <span *ngSwitchCase="gameMode.People">Draw a character!</span>
          <span *ngSwitchCase="gameMode.Starships">Draw a starship!</span>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

</div>
