<div *ngIf="!duelNotPossible" class="page--container">

  <div class="page--container__item">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Kot 1</mat-card-title>
        <mat-card-subtitle>Wygrana: {{ playerOneScore }} </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content [ngSwitch]="mode">
        <app-person-preview *ngSwitchCase="gameMode.People" [person]="playerOnePick"></app-person-preview>
        <app-starship-preview *ngSwitchCase="gameMode.Starships" [starship]="playerOnePick"></app-starship-preview>
      </mat-card-content>

      <mat-card-actions>
        <button
          mat-raised-button color="primary"
          [ngSwitch]="mode"
          [disabled]="isPlayerOnePickDisabled"
          (click)="playerOneDraw.emit()">
          <span *ngSwitchCase="gameMode.People">Dobierz Kota!</span>
          <span *ngSwitchCase="gameMode.Starships">Dobierz Kota2!</span>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="page--container__item">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h2>
            Wynik:
          </h2>
          <h1>
            {{ result }}
          </h1>
        </mat-card-title>
      </mat-card-header>

      <mat-card-actions>
        <button mat-raised-button color="primary" [disabled]="isResetGameDisabled" (click)="reset.emit()">Znowu wojna!
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="page--container__item">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Kot 2</mat-card-title>
        <mat-card-subtitle>Wygrana: {{ playerTwoScore }} </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content [ngSwitch]="mode">
        <app-person-preview *ngSwitchCase="gameMode.People" [person]="playerTwoPick"></app-person-preview>
        <app-starship-preview *ngSwitchCase="gameMode.Starships" [starship]="playerTwoPick"></app-starship-preview>
      </mat-card-content>

      <mat-card-actions >
        <button
          mat-raised-button color="primary"
          [ngSwitch]="mode"
          [disabled]="isPlayerTwoPickDisabled"
          (click)="playerTwoDraw.emit()">
          <span *ngSwitchCase="gameMode.People">Dobierz Kota!</span>
          <span *ngSwitchCase="gameMode.Starships">Dobierz Kota2!</span>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

</div>

<div *ngIf="duelNotPossible" class="page--container">
  <div class="page--container__item-xlarge">
    <mat-card>
      <mat-card-header>
        <div class="example-header-image"></div>
        <mat-card-title>coś sie zjebało!</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/images/r2andc3po.jpg">
      <mat-card-content>
        <p>

          Niestety nie mogliśmy załadować danych gry, spróbuj ponownie załadować stronę, aby R2D2 i C3PO mogły spróbować naprawić ten problem.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
