<div class="page--container">

  <div class="page--container__item page--container__item-clickable">
    <mat-card [routerLink]="'/characters'" e2e="fight-with-characters">
        <mat-card-header>
          <div class="example-header-image"></div>
          <mat-card-title>Walka z kotami</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets/images/duel_people.jpg">
        <mat-card-content>
          <p>
            W tym trybie możesz wybierać losowe koty i zobaczyć, kto wygra pojedynek.
          </p>
        </mat-card-content>
      </mat-card>
  </div>

  <div class="page--container__item page--container__item-clickable">
    <mat-card [routerLink]="'/starships'" e2e="fight-with-starships">
      <mat-card-header>
        <div class="example-header-image"></div>
        <mat-card-title>Walka z kotami</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/images/duel_starships.jpg">
      <mat-card-content>
        <p>
          W tym trybie możesz wybierać rasowe koty i zobaczyć, kto wygra pojedynek.
        </p>
      </mat-card-content>
    </mat-card>
  </div>

</div>
