<div class="page--container">

  <div class="page--container__item">
    <mat-card [routerLink]="'/characters'">
        <mat-card-header>
          <div class="example-header-image"></div>
          <mat-card-title>Fight with characters</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets/images/duel_people.png">
        <mat-card-content>
          <p>
            In this mode you can select random characters and see who would win the duel.
          </p>
        </mat-card-content>
      </mat-card>
  </div>

  <div class="page--container__item">
    <mat-card [routerLink]="'/starships'">
      <mat-card-header>
        <div class="example-header-image"></div>
        <mat-card-title>Fight with Starships</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/images/duel_starships.png">
      <mat-card-content>
        <p>
          In this mode you can select random starships and see who would win the duel.
        </p>
      </mat-card-content>
    </mat-card>
  </div>

</div>
